# Data Dictionary CSV Inspection

This notebook loads and inspects the data dictionary CSV file to verify the Excel to CSV conversion.

In [1]:
import pandas as pd
import numpy as np

# Set display options for better viewing
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

In [2]:
# Load the CSV file
csv_file = "data_dictionary_2.csv"
df = pd.read_csv(csv_file)
print(f"Data shape: {df.shape}")
print(f"Columns: {len(df.columns)}")
print(f"Rows: {len(df)}")

Data shape: (355, 10)
Columns: 10
Rows: 355

In [3]:
# Display basic info about the DataFrame
print("=== DATAFRAME INFO ===")
df.info()

=== DATAFRAME INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DB_Schema_Table_Name      312 non-null    object
 1   DB_Schema_Field_Name      312 non-null    object
 2   Description               305 non-null    object
 3   Key type                  96 non-null     object
 4   Is required               308 non-null    object
 5   Data type                 311 non-null    object
 6   Allows null               308 non-null    object
 7   Uses ontology             306 non-null    object
 8   Field length              271 non-null    float64
 9   Valid values or ontology  112 non-null    object
dtypes: float64(1), object(9)
memory usage: 27.9+ KB

In [4]:
# Display column names
print("=== COLUMN NAMES ===")
for i, col in enumerate(df.columns):
    print(f"{i+1:2d}. {col}")

=== COLUMN NAMES ===
 1. DB_Schema_Table_Name
 2. DB_Schema_Field_Name
 3. Description
 4. Key type
 5. Is required
 6. Data type
 7. Allows null
 8. Uses ontology
 9. Field length
10. Valid values or ontology

In [5]:
# Display first few rows
print("=== FIRST 10 ROWS ===")
df.head(10)

=== FIRST 10 ROWS ===

,DB_Schema_Table_Name,DB_Schema_Field_Name,Description,Key type,Is required,Data type,Allows null,Uses ontology,Field length,Valid values or ontology
0,CellLine,cell_line_id,Aus stem cell registry ID,PK,Yes,VARCHAR,No,No,100.0,NaN
1,CellLine,cell_line_alt_name,Alternate name for the cell line,NaN,Yes,VARCHAR,No,No,100.0,NaN
2,CellLine,hpscreg_name,hPSCReg's generated cell line name on registra...,NaN,Yes,VARCHAR,No,No,100.0,NaN
3,CellLine,registered_with_hpscreg,ID of the registration requirements,NaN,Yes,BOOLEAN,No,No,100.0,"TRUE, FALSE"
4,CellLine,publish,whether the line can be published or not,NaN,Yes,BOOLEAN,No,No,NaN,"TRUE, FALSE"
5,CellLine,cell_line_source_id,cell line source,FK,Yes,VARCHAR,No,No,100.0,NaN
6,CellLine,genomic_characterisation,ID of the genomic characterisation associated ...,FK,No,INT,Yes,No,NaN,NaN
7,CellLine,undifferentiated_characterisation_protocol,ID of the protocol for undifferentiated charac...,FK,No,INT,Yes,No,NaN,NaN
8,CellLine,generator_group,ID of the group which the institution belongs to,FK,Yes,INT,No,No,NaN,NaN
9,CellLine,owner_group,ID of the group which the institution belongs to,FK,Yes,INT,No,No,NaN,NaN

In [6]:
# Check for any missing values
print("=== MISSING VALUES ===")
missing_summary = df.isnull().sum()
print(missing_summary[missing_summary > 0])

if missing_summary.sum() == 0:
    print("No missing values found!")

=== MISSING VALUES ===
DB_Schema_Table_Name         43
DB_Schema_Field_Name         43
Description                  50
Key type                    259
Is required                  47
Data type                    44
Allows null                  47
Uses ontology                49
Field length                 84
Valid values or ontology    243
dtype: int64

In [7]:
# Check data types
print("=== DATA TYPES ===")
df.dtypes

=== DATA TYPES ===

DB_Schema_Table_Name         object
DB_Schema_Field_Name         object
Description                  object
Key type                     object
Is required                  object
Data type                    object
Allows null                  object
Uses ontology                object
Field length                float64
Valid values or ontology     object
dtype: object

In [8]:
# Look for any potential encoding issues or special characters
print("=== POTENTIAL ENCODING ISSUES ===")
for col in df.columns:
    if df[col].dtype == 'object':
        # Check for non-ASCII characters
        non_ascii = df[col].astype(str).str.contains(r'[^\x00-\x7F]', na=False)
        if non_ascii.any():
            print(f"Column '{col}' contains non-ASCII characters in {non_ascii.sum()} rows")
            # Show a few examples
            examples = df.loc[non_ascii, col].head(3)
            for idx, val in examples.items():
                print(f"  Row {idx}: {repr(val)}")

print("\nEncoding check complete.")

=== POTENTIAL ENCODING ISSUES ===

Encoding check complete.

In [9]:
# Display the full DataFrame for manual inspection
print("=== FULL DATAFRAME ===")
df

=== FULL DATAFRAME ===

,DB_Schema_Table_Name,DB_Schema_Field_Name,Description,Key type,Is required,Data type,Allows null,Uses ontology,Field length,Valid values or ontology
0,CellLine,cell_line_id,Aus stem cell registry ID,PK,Yes,VARCHAR,No,No,100.0,NaN
1,CellLine,cell_line_alt_name,Alternate name for the cell line,NaN,Yes,VARCHAR,No,No,100.0,NaN
2,CellLine,hpscreg_name,hPSCReg's generated cell line name on registra...,NaN,Yes,VARCHAR,No,No,100.0,NaN
3,CellLine,registered_with_hpscreg,ID of the registration requirements,NaN,Yes,BOOLEAN,No,No,100.0,"TRUE, FALSE"
4,CellLine,publish,whether the line can be published or not,NaN,Yes,BOOLEAN,No,No,NaN,"TRUE, FALSE"
...,...,...,...,...,...,...,...,...,...,...
350,OntologyParentChild,child,ID of child/ren of ontology term,FK,Yes,INT,Yes,NaN,NaN,NaN
351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,OntologySynonym,ontologysynonym_id,NaN,PK,Yes,INT,No,NaN,NaN,NaN
353,OntologySynonym,ontology_id,NaN,FK,Yes,INT,Yes,NaN,NaN,NaN
354,OntologySynonym,synonym of ontology term,NaN,NaN,Yes,TEXT,Yes,NaN,NaN,NaN